---
import BackgroundAnimation from "../../react-components/BackgroundAnimation";
---

<div class="feature-background-animation">
  <BackgroundAnimation client:load />
  <div class="feature-background-gradient"></div>
</div>
