---
import { Heading } from "../../atoms";

const { words } = Astro.props;
---

<ul>
  {
    words.map((word: string, index: number) => (
      <li style={`animation-delay: ${index * 2650}ms`}>
        <Heading level={1} color="gradient">
          {word}
        </Heading>
      </li>
    ))
  }
</ul>

<style define:vars={{ duration: `${words.length * 2650}ms` }}>
  ul {
    display: inline;
    position: absolute;
  }

  li {
    animation: var(--duration) fade-up 0s ease-in-out infinite;
    will-change: opacity, transform;
    opacity: 0;
    z-index: -1;
    display: inline;
    transform: translateY(100%);
    position: absolute;
  }
  li:last-child {
    position: static;
  }
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    2.5%,
    22.5% {
      opacity: 1;
      transform: translateY(0);
    }

    25%,
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
</style>
