---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Text from '../components/atoms/typography/Text.astro';
import Heading from '../components/atoms/typography/Heading.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Heading level={1} color="purple">
			Nivel 1
		</Heading>
		<Heading level={2} color="orange">
			Nivel 2
		</Heading>
		<Heading level={3} color="red">
			Nivel 3
		</Heading>
		<Heading level={4} color="aosdfh" >
			Nivel 4
		</Heading>
		<Text variant="secondary" color="dark">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga reprehenderit incidunt officia eligendi fugit accusantium veniam nam reiciendis animi eum in a quos beatae magni molestias fugiat, voluptates dolorum iure.
		</Text>

	</main>
</Layout>

