---
import HeaderImages from '../molecules/header/HeaderImages.astro';
import MainContainer from '../containers/MainContainer.astro';
import Heading from '../atoms/typography/Heading.astro'
import Text from '../atoms/typography/Text.astro';
import DownloadButton from '../atoms/buttons/DownloadButton.astro';
---

<section>
  <MainContainer>
    <div class="two-rows">
      <div class="row1">
        <Heading level={1} color="dark">
          Invitaciones digitales para tu... 
        </Heading>
        <div class="hero-content">
          <Text variant="primary" color="grey">
            Orions is a universal app that helps you setup your apps in a beautiful and effective way to get more
            downloads acrossAndroid and iOS platforms. 
          </Text>
        </div>
        <div class="button-group">
          <DownloadButton 
            icon="fas fa-envelope"
            caption="Explora nuestras"
            variant="primary"
          >
            Plantillas
          </DownloadButton>
          <DownloadButton 
            icon="fab fa-whatsapp"
            caption="contactanos por"
            variant="secondary"
          >
            Whatsapp
          </DownloadButton>
        </div>
        <div class="button-group">
          <DownloadButton 
            variant="primary"
            single
          >
            Plantillas
          </DownloadButton>
          <DownloadButton 
            variant="secondary"
            single
          >
            Whatsapp
          </DownloadButton>
        </div>
      </div>
      <div class="row2">
        <HeaderImages />
      </div>
      
    </div>
  </MainContainer>
  
</section>

<style>
  secction {
    min-height: 100vh;
    width: 100%;
  }

  .two-rows {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

   @media (min-width: 1200px) {
    .two-rows {
      flex-direction: row;
      gap: 20px;
    }
  }

  .row1 {
    width: 90%;
    padding-right: 10%;
    order: 2;
  }

  .row2 {
    width: 90%;
    order: 1;
  }

   @media (min-width: 1200px) {
    .row1 {
      width: 60%;
      order: 1;
    }

    .row2 {
      width: 40%;
      order: 2;
    }
  }

  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    gap: 10px
  }

  @media (min-width: 1200px) {
    .button-group {
      flex-direction: row;
      justify-content: flex-start;
      gap: 20px
    }
  }

  .hero-content {
    margin: 3rem 0 4.8rem;
  }
</style>