---
const { color, variant, align } = Astro.props;
---

<p
  class:list={[
    {
      gradient: color === "gradient",
      "c-dark": color === "dark",
      "c-blue": color === "blue",
      "c-grey": color === "grey",
      "c-white": color === "white",
      primary: variant === "primary",
      secondary: variant === "secondary",
      large: variant === "large",
    },
  ]}
>
  <slot />
</p>

<style define:vars={{ align }}>
  p {
    font-weight: 500;
    line-height: 3rem;
    margin: 0;
    text-align: var(--align);
  }
  .primary {
    font-size: 1.6rem;
  }

  .secondary {
    font-size: 1.4rem;
  }
</style>
