---
import { MainContainer, Heading } from "@components/index.js";
import FeatureDetails from "./react/FeatureDetails";
---

<section class="full-h">
  <img
    style="width: 100%;"
    src="/assets/pattern-1.jpg"
    alt="backgorrund-pattern"
  />
  <MainContainer>
    <div class="flex column gap-4 col-12">
      <Heading level={5} color="blue">
        <i class="fas fa-gear"></i>
        TU INVITACIÓN INCLUYE
      </Heading>
      <FeatureDetails client:load />
    </div>
  </MainContainer>
</section>

<style>
  .item {
    border-bottom: 1px solid #cdcdcd;
    padding: 2.5rem 1rem;
  }
</style>
./react/FeatureDetails
