---
import {
  Button,
  MainContainer,
  Heading,
  Text,
  IsometricGallery,
} from "@components/index.js";

const { title, description, icon, isOdd } = Astro.props;
---

<section
  class:list={[
    "full-h",
    "hidden",
    {
      "main-gradient": !isOdd,
    },
  ]}
>
  <MainContainer>
    <div class="flex fullheight relative order">
      <div class="flex column gap-4 absolute header gallery">
        <Heading level={2} color={isOdd ? "gradient" : "white"} uppercase>
          <span><i class={icon}></i></span>
          {title}
        </Heading>
        <Text variant="primary" color={isOdd ? "grey" : "white"}>
          {description}
        </Text>
        <Button variant="white">Ver todos</Button>
      </div>
      <div class="gallery">
        <IsometricGallery
          images={[
            "/assets/muestras/muestra-3.png",
            "/assets/muestras/muestra-4.png",
            "/assets/muestras/muestra-5.png",
            "/assets/bautizo_phone_1.png",
            "/assets/muestras/muestra-3.png",
            "/assets/muestras/muestra-4.png",
            "/assets/muestras/muestra-5.png",
            "/assets/bautizo_phone_1.png",
            "/assets/muestras/muestra-3.png",
            "/assets/muestras/muestra-4.png",
            "/assets/muestras/muestra-5.png",
            "/assets/bautizo_phone_1.png",
            "/assets/muestras/muestra-3.png",
            "/assets/muestras/muestra-4.png",
            "/assets/muestras/muestra-5.png",
            "/assets/bautizo_phone_1.png",
            "/assets/muestras/muestra-3.png",
            "/assets/muestras/muestra-4.png",
            "/assets/muestras/muestra-5.png",
            "/assets/bautizo_phone_1.png",
          ]}
        />
      </div>
    </div>
  </MainContainer>
</section>

<style>
  .item {
    border-bottom: 1px solid #cdcdcd;
    padding: 2.5rem 1rem;
  }

  .gallery {
    width: 100%;
  }

  @media (min-width: 990px) {
    .gallery {
      width: 50%;
    }
  }
  .header {
    top: 20px;
  }

  @media (min-width: 990px) {
    .header {
      top: 80px;
      right: 0;
    }
  }

  .hidden {
    overflow: hidden;
  }

  .order {
    flex-direction: column;
  }

  @media (min-width: 990px) {
    .order {
      flex-direction: row;
    }
  }
</style>
