---
import { FeatureImage, FeatureImagePhone } from "../../atoms";
import { Background1 } from "../animations";
---

<div class="feature-section">
  <FeatureImage img="/assets/quince.png" alt="quince años invitación wenvel" />
  <FeatureImagePhone
    img="/assets/bautizo_phone_1.png"
    alt="bautizo invitaccion wenvel"
  />
  <Background1 />
</div>

<style>
  .feature-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
    margin-left: 10%;
  }
  @media (max-width: 990px) {
    .feature-section {
      padding-bottom: 20px;
      justify-content: center;
    }
  }

  @media (max-width: 575px) {
    .feature-section {
      justify-content: flex-end;
    }
  }
</style>
